*{margin: 0; padding: 0;
font-family: Montserrat, sans-serif;
color: #4E5150;}

/* header */
header{
    padding: 40px 0 40px 200px;
    font-size: 28px;
    font-weight: 600;
background-color: antiquewhite;}

/* main */
main{display: flex;}